@{
    ViewData["Title"] = "Sicherheitshinweis";
}
<h1>@ViewData["Title"]</h1>

<p>Hier erältst du wichtige Informationen zum Thema Internet und Sicherheit</p>

<h2>Wichtig</h2>

<ul>
    <li>Antworte niemals auf E-Mails von unbekannten Absendern.</li>
    <li>Dateianhänge oder Links in zweifelhaften E-Mail sollten nicht geöffnet werden.</li>
    <li>Ignoriere Zahlungsaufforderungen in E-Mails oer per Webseite.</li>
    <li>Installiere keine Softwareopdates oder Programme von unbekannten Webseiten.</li>
    <li>Melde den Vorfall an softwareanker@hotmail.com</li>
</ul>

<h2>Typische Gefahrenquellen</h2>
<p></p>
<h3>E-Mails mit gefälschten Versandbestätigungen</h3>

<p>
    Sei skeptisch, wenn du Versandbestätigungen per E-Mail von Firmen empfängst, bei denen du gar nichts bestellt hast.
    Insbesondere, wenn solche E-Mails Anhänge enthalten, öffne auf keinen Fall den enthaltenen Anhang. In diesem
    kann eine Schadsoftware enthalten sein, die sich auf deinem Computer selbstständig installiert.
</p>
    
<h3>Gefälschte SMS</h3>

<p>
    Ähnlich wie bei Postkarten oder E-Mails können auch bei SMS Absender oder Nachrichten gefälscht sein und für Spam 
    oder Phishing missbraucht werden.
</p>

<h3>Gefälschte Webseiten und schadhafte Programme</h3>

<p>
    Im Internet existieren Webseiten, die den Anschein erwecken, von Worktastic zu stammmen, tatsächlich aber von Hermes unbekannten Dritten betrieben werden.
    Mit Hilfe dieser Webseiten versuchen diese, auf den Computern der Besucher schadhafte Programme wie z.B. Spyware, Trojaner oder Computerviren auf fremden Computern zu installieren.
</p>
<p></p>
<p>
    Worktastic ist für diese Webseiten nicht verantwortlich. Worktastic wird dich niemals (per E-Mail oder auf der Webseite) aktiv auffordern, deinen Browser oder dein Betriebssystem aus Sicherheitsgründen zu aktualisieren bzw. eine zusätzliche Software zu installieren. 
    Um die Funktionen auf den Worktastic Webseiten zu nutzen, benötigst du nur eine aktuelle Browserversion.
</p>