@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registrierung bestätigen";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klicke den Link, um Deine Registrierung zu bestätigen</a>
</p>
    }
    else
    {
<p>
        Bitte überprüfe deine E-Mails und bestätige Deine Registrierung über den Link in der E-Mail. 
</p>
    }
}

