@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "E-Mail-Bestätigung neu versenden";
}

<form class="form-signin" method="post">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center text-black">@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            <div>Bitte trage deine E-Mail-Adresse ein, über die Du bei uns registriet bis.</div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" aria-required="true"/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Versenden</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
